@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome in Shopping Center</h1>
    <p>Here you can find informations about shops in our shopping center</a>.</p>
</div>
